<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StudySync</title>
</head>
<body>
<h1>Create a StudySync account</h1>
<form th:action="@{/register}" th:object="${user}" method="post">
    <div th:if="${#fields.hasErrors('email')}">
        <p th:error="*{email}">Email Error</p>
    </div>
    <div>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" th:field="${user.email}" placeholder="example@email.com"
               required><br>
    </div>
    <div>
        <label for="firstName">First Name:</label><br>
        <input type="text" id="firstName" name="firstName" th:field="${user.firstName}" placeholder="first name"
               required><br>
    </div>
    <div>
        <label for="lastName">Last Name:</label><br>
        <input type="text" id="lastName" name="lastName" th:field="${user.lastName}" placeholder="last name"
               required><br>
    </div>
    <div>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" th:field="${user.username}" placeholder="username"
               required><br>
    </div>
    <div>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" th:field="${user.password}" placeholder="password"
               required><br>
    </div>
    <div>
        <label for="confirmPassword">Confirm Password:</label><br>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="re-enter password"><br>
    </div>

    <div>
        <input type="submit" value="Create Account"/>
    </div>
</form>
<p>Already have an account? Click <a href="/login">here</a> to login.</p>
</body>
</html>